#top {
	margin: 0px;
	padding: 0px;
	background: white;
	height: 107px;
}

#left {
	position: absolute;
	left: 2px;
	top: 107px;
	width: 150px;
	height: 500px;
}


#center {
	margin-left: 160px;
	margin-right: 160px;
}

#right {
	position: absolute;
	left: 648px;
	right: 1px;
	top: 107px;
	width: 150px;
	background: #5D4981;
	border: thick ridge #C0C0C0;
	border-right-width: 0px;
	border-top-width: 1px;
	border-left-width: 2px;
	border-bottom-width: 1px;
	text-align: center;
	min-height: 490px;
	_height: 490px;
}